.navbar {
	position: fixed;
	width: 100vw;
	height: 65px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 10px 30px 0 30px;
	top: 0;
	left: 0;
	.navbar-icon {
		display: flex;
		align-items: center;
		justify-content: space-around;
        gap: 10px;
		img {
			padding-top: 15px;
			width: 60px;
		}
        .slogen{
            padding-top: 10px;
            p{
                margin: 0 auto 0 auto;
                text-align: start;

            }
            .everything{
                font-family: Satoshi-Bold;
                font-size: 25px;
                font-weight: 700;
            }
        }
	}
    .login-register{
        display: flex;
		align-items: center;
		justify-content: space-around;
        flex-wrap: wrap;
        gap: 5px 20px;
    }
}
