.navbar {
	position: fixed;
	width: 100vw;
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 30px 100px 30px;
	top: 0;
	left: 0;
	padding-bottom: 10px;
	z-index: 100;
	.navbar-icon {
		display: flex;
		align-items: center;
		justify-content: space-around;
		gap: 13px;

		img {
			padding-top: 15px;
			width: 60px;
		}
		.name {
			.Link-to-home {
				text-decoration: none;
				color: inherit;
				p {
					color: inherit;
					padding-top: 12px;
					font-size: 30px;
					font-family: Satoshi-Bold;
				}
			}
		}
		.slogen {
			padding-top: 10px;
			p {
				margin: 0 auto 0 auto;
				text-align: start;
			}
			.everything {
				font-family: Satoshi-Bold;
				font-size: 25px;
				font-weight: 700;
			}
		}
	}
	.login-register {
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: 5px 20px;
	}
}
