@import './assets//fonts/satoshi.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --dark-text-color: rgb(3, 3, 3);
  --main-components-color: rgba(255, 255, 255, 0.87); */
  font-family: Satoshi-Regular, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  color-scheme: light dark;
  /* color: var(--main-components-color); */
  /* background-color: #1a2222; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
*,
*::before,
*::after{
  box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.leftNavBarBtn{
  @apply bg-gray-800 px-3 hover:cursor-pointer text-lg;
}

button{
  padding: 5px 15px;
  font-family: Satoshi-VariableItalic, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--main-components-color);
  border-radius: 5px;
  font-size: 18px;
  font-weight:600;
  border: none;
  color: var(--dark-text-color);
  transition: background-color 0.3s, color 0.3s;
  &:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
  }
  &:active{

    background-color: rgb(27, 27, 27);
    color: white;
  }

}
