@keyframes skeleton-loading {
	to {
		background-position: left;
	}
}
.Domain-skeleton {
    width: 400px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;

    cursor: progress;
    background-color: #2d3535;
    border-radius: 15px;

    .title {
        width: 80%;
        height: 80px;
        border-radius: 10px;
        background: linear-gradient(90deg, rgba(221, 221, 221, 0.158) 40%, #efefef4d,rgba(221, 221, 221, 0.158)  60%)
            right / 300% 100%;
        animation: skeleton-loading 1.5s linear infinite;
        margin-bottom: 20px;
    }
    .info {
        margin-top: 12px;
        width: 80%;
        height: 40px;
        border-radius: 8px;
        background: linear-gradient(90deg, rgba(221, 221, 221, 0.158) 40%, #efefef4d,rgba(221, 221, 221, 0.158) 60%)
            right / 300% 100%;
        animation: skeleton-loading 1.5s linear infinite;
        margin-bottom: 10px;

    }
}
